{% load static %}

 <!-- Footer Section Start -->
  <br><br>
 <footer class="section-t-space">
    <div class="container-fluid-lg">
        <div class="service-section">
            <div class="row g-3">
                <div class="col-12">
                    <div class="service-contain">
                        <div class="service-box">
                            <div class="service-image">
                                <img src="{% static "/assets/svg/product.svg" %}" class="blur-up lazyload" alt="">
                            </div>

                            <div class="service-detail">
                                <h5>Brand new Products</h5>
                            </div>
                        </div>

                        <div class="service-box">
                            <div class="service-image">
                                <img src="{% static "/assets/svg/delivery.svg" %}" class="blur-up lazyload" alt="">
                            </div>

                            <div class="service-detail">
                                <h5>Fastest Delivery For only 4 days</h5>
                            </div>
                        </div>

                        <div class="service-box">
                            <div class="service-image">
                                <img src="{% static "/assets/svg/discount.svg" %}" class="blur-up lazyload" alt="">
                            </div>

                            <div class="service-detail">
                                <h5>Daily Mega Discounts</h5>
                            </div>
                        </div>

                        <div class="service-box">
                            <div class="service-image">
                                <img src="{% static "/assets/svg/market.svg" %}" class="blur-up lazyload" alt="">
                            </div>

                            <div class="service-detail">
                                <h5>Best Price On The Market</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-footer section-b-space section-t-space">
            <div class="row g-md-4 g-3">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="footer-logo">
                        <div class="theme-logo">
                            <a href="{% url "store:index" %}">
                                <img src="{% static "/assets/images/logo/vellorecart.png" %}" class="blur-up lazyload" alt="">
                            </a>
                        </div>

                        <div class="footer-logo-contain">
                            <p>Welcome to our vibrant tech lounge, your go-to spot for all things electronic. Whether you're a smartphone aficionado, laptop lover, or just someone who enjoys the digital world, we have something special for you.</p>

                            <ul class="address">
                                <li>
                                    <i class="fa-solid fa-house fa-bounce"></i>
                                    <a href="https://maps.app.goo.gl/s2D6nQsBk3qmg76n8">Co-operative Campus, Anna Salai, Kosapet, Vellore, Tamil Nadu 632001</a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-envelope fa-beat"></i>
                                    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=saikrishna6385886810@gmail.com">saikrishna6385886810@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                {% comment %} <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-title">
                        <h4>Categories</h4>
                    </div>

                    <div class="footer-contain">
                        <ul>
                            <li>
                                <a href="{ {% url "http://127.0.0.1:8000/category/3/" %}" class="text-content">Mobile</a>
                            </li>
                            <li>
                                <a href="shop-left-sidebar.html" class="text-content">Laptops</a>
                            </li>
                            <li>
                                <a href="shop-left-sidebar.html" class="text-content">Tablet</a>
                            </li>
                            <li>
                                <a href="shop-left-sidebar.html" class="text-content">Television</a>
                            </li>
                            <li>
                                <a href="shop-left-sidebar.html" class="text-content">Camera</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl col-lg-2 col-sm-3">
                    <div class="footer-title">
                        <h4>Categories</h4>
                    </div>

                    <div class="footer-contain">
                        <ul>
                            <li>
                                <a href="index.html" class="text-content">Smart Watch</a>
                            </li>
                            <li>
                                <a href="shop-left-sidebar.html" class="text-content">Headphone</a>
                            </li>
                            <li>
                                <a href="about-us.html" class="text-content">Spkers</a>
                            </li>
                            <li>
                                <a href="blog-list.html" class="text-content">Storage</a>
                            </li>
                            <li>
                                <a href="contact-us.html" class="text-content">Accessories</a>
                            </li>
                        </ul>
                    </div>
                </div> {% endcomment %}

                <div class="col-xl-2 col-sm-3">
                    <div class="footer-title">
                        <h4>Useful Links</h4>
                    </div>

                    <div class="footer-contain">
                        <ul>
                            <li>
                                <a href="{% url "store:index" %}" class="text-content">Home</a>
                            </li>
                            <li>
                                <a href="{% url "store:cart" %}" class="text-content">Cart</a>
                            </li>
                            <li>
                                <a href="{% url "store:wishlist" %}" class="text-content">Your Wishlist</a>
                            </li>
                            <li>
                                <a href="{% url 'store:profile' %}" class="text-content">Profile</a>
                            </li>
                            <li>
                                <a href="{% url 'accounts:register' %}" class="text-content">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-sm-6">
                   
                    <div class="footer-contact">
                        <ul>
                            <li class="single-image">
                                <a href="{% url "store:index" %}">
                                    <img src="{% static "/assets/images/fast.png" %}" class="blur-up lazyload" alt="Contact Us"  style="height: 350px; width:auto; border-radius: 10px;">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="sub-footer section-small-space">
            <div class="reserve">
                <h4 class="text-content">©<span id="year"></span> Vellore Cart All rights reserved</h4>
            </div>

            <div class="payment">
                <img src="../assets/images/payment/1.png" class="blur-up lazyload" alt="">
            </div>

            {% comment %} <div class="social-link">
                <h6 class="text-content">Stay connected :</h6>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://in.pinterest.com/" target="_blank">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </li>
                </ul>
            </div> {% endcomment %}
        </div>
    </div>
</footer>
<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>
<!-- Footer Section End -->